@font-face {
  font-family: 'Archivo';
  /* TODO how does this work when the Vaadin theme is packaged into a JAR? Do we need to load it twice? */
  src: url('../../frontend/themes/myds/fonts/Archivo-subset.woff2') format('woff2-variations');
  font-weight: 400 600;
  font-stretch: 70% 100%;
  font-style: normal;
}

html {
  --docs-font-family: 'Archivo', Helvetica, Arial, sans-serif;
  --docs-font-weight-heading: 600;
  --docs-link-color: hsl(230,79%,57%);

  --docs-tab-selected-color: var(--docs-link-color);

  --docs-gray-0: hsla(213, 45%, 100%, 1);
  --docs-gray-25: hsla(213, 45%, 97%, 1);
  --docs-gray-50: hsla(213, 38%, 95%, 1);
  --docs-gray-75: hsla(213, 27%, 87%, 1);
  --docs-gray-100: hsla(213, 20%, 76%, 1);
  --docs-gray-200: hsla(213, 15%, 64%, 1);
  --docs-gray-300: hsla(213, 15%, 52%, 1);
  --docs-gray-400: hsla(213, 15%, 42%, 1);
  --docs-gray-500: hsla(213, 15%, 33%, 1);
  --docs-gray-600: hsla(213, 15%, 25%, 1);
  --docs-gray-700: hsla(213, 15%, 20%, 1);
  --docs-gray-800: hsla(213, 15%, 17%, 1);
  --docs-gray-900: hsla(213, 15%, 15%, 1);

  --docs-layout-max-width: auto;

  --docs-header-background: linear-gradient(90deg, #2553f6 0%, #FCD6DA 100%);
  --docs-header-color: #fff;
}

html[theme~="dark"] {
  --docs-link-color: hsl(230,89%,69%);
}

h1 {
  font-stretch: 75%;
}

h2,
h3 {
  font-stretch: 80%;
}

h4,
h5 {
  font-stretch: 90%;
}
